<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <location path="." inheritInChildApplications="false">
        <appSettings>
            <!-- Required settings -->
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <!-- Your Django path -->
            <add key="PYTHONPATH" value="C:\inetpub\wwwroot\electrofusion_prj" />
            <!-- Your Django settings module -->
            <add key="DJANGO_SETTINGS_MODULE" value="electrofusion.settings" />
        </appSettings>

        <system.webServer>
            <handlers>
                <add name="electrofusion" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\inetpub\wwwroot\electrofusion_prj\venv\scripts\python.exe|c:\inetpub\wwwroot\electrofusion_prj\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            </handlers>
        </system.webServer>
    </location>
    <system.web>
        <identity impersonate="true" />
    </system.web>

</configuration>
