{% extends 'base.html' %}

{% block title %}About Us - Fusion Solutions{% endblock %}

{% block content %}
    <section class="hero text-center bg-light p-5 rounded">
        <h1 class="display-4">Fusion Solutions Company Profile</h1>
    </section>
        <section class="about-content mt-5 container">
            <div class="about-intro">
                <img src="https://ext.same-assets.com/2649531834/2664169477.jpeg" alt="Fusion Solutions Vehicles" class="about-image">
                <div class="about-text">
                    <p>Fusion Solutions are dedicated to providing you with the very best in polyethylene pipe welding products & services.</p>
                    <p>Our welding technicians are considered specialist in the pipe welding process due to our extensive daily involvement with some of Christchurchs leading civil construction companies, working on major infrastructure projects following the Christchurch earthquakes in 2011.</p>
                    <p>Fusion Solutions have undertaken a range of challenging and difficult repair work involving leaking pressure pipes and instigating a quality, proven solutions which result in major cost savings for our clients.</p>
                    <p>Fusion Solutions has also been involved in the horizontal infrastructure of numerous new and developing estates and sub divisions throughout Christchurch and Canterbury.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <h3>Specialist In Polyethylene Pipe Welding</h3>
                    <p>Our ability to plan methodologies and design, develop & implement solutions for time critical projects is second to none, we stand by the quality and reliability of our butt fusion welding and polyethylene pipe joins.</p>
                </div>
                <div class="col-md-6">
                    <h3>Qualifications & Training</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Le Hunt Polytec Buttwelding Accreditation</li>
                        <li class="list-group-item">Le Hunt Polytec Electrofusion Accreditation</li>
                        <li class="list-group-item">CCC Approved PE Welders</li>
                        <li class="list-group-item">Site Safe Gold Status</li>
                        <li class="list-group-item">SHE Pre-Qual Local Authority Approved Contractor</li>
                        <li class="list-group-item">+IMPAC Pre-Qual Approved Contractor</li>
                        <li class="list-group-item">ConstructSafe</li>
                        <li class="list-group-item">Confined Space & Gas Detection</li>
                        <li class="list-group-item">First Aid</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="cta text-center bg-primary text-white p-5 mt-5 rounded">
            <h2>Talk to us today for more information</h2>
            <h4>Experts in polyethylene pipe welding solutions with over 15 years experience.</h4>
            <a href="{% url 'contact' %}" class="btn btn-light btn-lg mt-3">Contact Us</a>
        </section>
    </main>
  
{% endblock %}
