{% extends 'base.html' %}


{% block title %}About Us - Fusion Solutions{% endblock %}

{% block content %}
    <section class="hero text-center bg-light p-5 rounded">
        <h1 class="display-4">Fusion Solutions Company Profile</h1>
    </section>
        <section class="about-content mt-5 container">
            <div class="about-intro">
                <img src="https://ext.same-assets.com/2649531834/2664169477.jpeg" alt="Fusion Solutions Vehicles" class="about-image d-none d-md-block">
                <div class="about-text">
                    <p>
                        Pipeline Services was started after lengthy discussions within Huapai Plastic Welding management 
Slowly we have been able to evolve into Pipeline Services by adjusting our business to accommodate electrofusion welding.
Our staff have completed the required training and qualifications for this position that they bring to PLS 
Our equipment is sourced from the UK and Australia and we pride ourselves to get the job done
We currently offer pipe sizes 20mm-180mm but can offer larger pipe welding but this is per project needs 
We look forward to slowly growing in time 
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <h3>Specialist In Polyethylene Pipe Welding</h3>
                    <p>Our ability to plan methodologies and design, develop & implement solutions for time critical projects is second to none, we stand by the quality and reliability of our butt fusion welding and polyethylene pipe joins.</p>
                </div>
                <div class="col-md-6">
                    <h3>Qualifications & Training</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Le Hunt Polytec Buttwelding Accreditation</li>
                        <li class="list-group-item">Le Hunt Polytec Electrofusion Accreditation</li>
                        <li class="list-group-item">CCC Approved PE Welders</li>
                        <li class="list-group-item">Site Safe Gold Status</li>
                        <li class="list-group-item">SHE Pre-Qual Local Authority Approved Contractor</li>
                        <li class="list-group-item">+IMPAC Pre-Qual Approved Contractor</li>
                        <li class="list-group-item">ConstructSafe</li>
                        <li class="list-group-item">Confined Space & Gas Detection</li>
                        <li class="list-group-item">First Aid</li>
                    </ul>
                </div>
            </div>
        </section>
        {% include 'includes/_talktous.html' %}

    </main>
  
{% endblock %}
