{% extends 'base.html' %}

{% block title %}Gallery - Fusion Solutions{% endblock %}

{% block content %}
    <section class="hero text-center bg-light p-5 rounded">
        <h1 class="display-4">Our Work Gallery</h1>
    </section>
    
    <section class="gallery-content mt-5">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="#" class="card-img-top" alt="Fabrication">
                        <div class="card-body">
                            <h5 class="card-title text-center">Fabrication</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="#" class="card-img-top" alt="Extrusion Welding">
                        <div class="card-body">
                            <h5 class="card-title text-center">Extrusion Welding</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="#" class="card-img-top" alt="Butt Welding">
                        <div class="card-body">
                            <h5 class="card-title text-center">Butt Welding</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="#" class="card-img-top" alt="Electrofusion Welding">
                        <div class="card-body">
                            <h5 class="card-title text-center">Electrofusion Welding</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/_talktous.html' %}

{% endblock %}
